# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing artifacts
.lighthouseci/
accessibility-report.json
vnu.jar_latest.zip
dist/
package-lock.json
html_errors.json
accessibility_errors.json
fix_suggestions.json
fix_output.txt
comment.md
vnu_output.txt
